.modal-header {
    background-color: #292f3b !important;
    color: white !important;
    //border: 1px solid white!important;
}

.modal-header .ui.huge.header {
    color: white !important;
}

.modal-footer {
    border:none!important;
    display: flex;
    //padding: 8px;
}

.modal-content {
    border: none!important;
    flex-grow: 1;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    //padding: 8px 8px 0px 8px;
}

.modal-content form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.flex-grow-column {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

action-basic-modal form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

action-basic-modal form ng-component {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

action-basic-modal div[name] {
    min-height: 1.28571429em;
}

.action-basic-modal {
    box-shadow: 0px 0px 3px 1px #bfbfbf!important;
    
}
