<ag-grid-angular [dbGrid]="grid" class="ag-theme-balham"></ag-grid-angular>

<ng-template #itemsContextMenu let-context>
  <ul nz-menu nzMode="vertical" class="context-menu">
    <li nz-menu-item (click)="Add()">
      <i nz-icon nzType="user-add" nzTheme="outline"></i>
      Add Provider
    </li>
    <li nz-menu-item (click)="Edit(context.First)" *ngIf="context.Single">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
      Edit Provider
    </li>
    <li nz-menu-item (click)="Remove(context.SelectedData)" *ngIf="context.Any">
      <i nz-icon nzType="delete" nzTheme="outline"></i>
      Delete Provider
    </li>
  </ul>
</ng-template>

<ng-template dbPortalTemplate="Header-Outlet-Right">
  <button nz-button (click)="Reload()" ><i nz-icon nzType="sync"></i>Reload Providers</button>
</ng-template>